<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>gitprofile</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->
  <link rel="stylesheet" href="bower_components/octicons/octicons/octicons.css">
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>

<!-- header -->
<header class="head">
  <div class="head_left">
    <span class="mega-octicon octicon-mark-github"></span>
    <input class="top_search" type="text" value="Search GitHub">
    </div>
      <div class="top_nav">
  <a class ="links" href="https://github.com/explore">Explore</a>
  <a class ="links" href ="https://gist.github.com">Gist</a>
  <a class ="links" href ="https://blog.github.com">Blog</a>
  <a class ="links" href ="https://explore.github.com">Explore</a>
  <a class ="links" href ="https://help.github.com">Help</a>
    </div>

  <div class="head_right">
    <span class="two_icons">

        <span class="octicon octicon-plus"></span></span>

        <span class="two_icons">

        <span class="octicon octicon-triangle-down"></span></span>

      <a href="https://github.com/notifications">
        <span class="regular">
        <span class="octicon octicon-inbox"></span></span>
      </a>
      <a href="https://github.com/settings">
        <span class="regular">
        <span class="octicon octicon-gear"></span></span>
      </a>
      <a href="https://github.com/signout">
        <span class="regular">
        <span class="octicon octicon-sign-out"></span>
      </span>
    </a>


  </div>
</header>

<!-- end of header -->

<!-- start of sidebar -->
<aside class="sidebar">

<li class="star"></li>
<li class="a"></li>
<li class="b"></li>
<li class="c"></li>

<span class="followers">

  </span>

<p>Organizations</p>
<div class="org"></div>


</aside>
<!-- end of sidebar -->

<!-- main body section -->
<section class="main">
  <!-- top half -->
  <div class="top_half">
    <span class="b1">
      <span class="octicon octicon-plus"></span>
      <span class="contributions">Contributions</span>
    </span>
    <span class="b2">
      <span class="octicon octicon-repo"></span>
      <span class="repositories">Repositories</span>
    </span>

    <span class="b3">
      <span class="octicon octicon-rss"></span>
      <span class="public">Public Activity</span>
    <a href="https://github.com/account">
      <button class="edit_profile">
        <span class="octicon octicon-pencil"></span>
        Edit Profile
      </button>
    </span>
  </a>
  </div>
  <!-- end of top half -->

  <!-- bottom half of repos search section -->
<div class="bottom_half">
  <input class="bottom_search" type="text" value="Find a repository...">
  <button class="search1">Search</button>
  <span class="things">
    <a href="https://github.com/repositories/all">
     <span class="all">All</span>
   </a>
   <a href="https://github.com/repositories/public">
     <span class="items">Public</span>
   </a>
   <a href="https://github.com/repositories/private">
     <span class="items">Private</span>
   </a>
   <a href="https://github.com/repositories/sources">
     <span class="items">Sources</span>
   </a>
   <a href="https://github.com/repositories/forks">
     <span class="items">Forks</span>
   </a>
   <a href="https://github.com/repositories/mirrors">
     <span class="items">Mirrors</span>
   </a>

    <a href="https://github.com/repositories/new">
     <button class="search2"><span class="octicon octicon-repo"></span>
     New</button>
  </span>
</a>
</div>
<!-- end of bottom half of body top -->

<!-- beginning of projects section -->
<section class="bars2">
  <!-- <div class="projectName"></div>
  <div class="update"></div>
   -->
  <!-- <span class="right">Javascript
    <span class="octicon octicon-star">
      0
      <span class="octicon octicon-git-branch">
        0
      </span>
   -->


</section>
<!--
<section class="bars">
  <div class="projectName">etsy</div>
  <div class="update">Updated 19 hours ago</div>
</section>

<section class="bars">
  <div class="projectName">accord</div>
  <div class="update">Updated 2 days ago</div>
</section>

<section class="bars">
  <div class="projectName">jspractice</div>
  <div class="update">Updated 3 days ago</div>
</section>

<section class="bars">
  <div class="projectName">javascript</div>
  <div class="update">Updated 1 week ago</div>
</section>

<section class="bars">
  <div class="projectName">surf-and-paddle</div>
  <div class="update">Updated 1 week ago</div>
</section> -->

</section>

<!-- javascript templates -->
<!-- top box -->
<script type="text/template" id="top_box">
  <img class="little_me" src= "<%= avatar_url %>" />
  <span class="username"><%= login %></span>
</script>


<!-- side bar -->
<script type="text/template" id="side_box">
  <img class="me" src= "<%= avatar_url %>" />

  <div class="names">
    <h1 class="name"><%= name %></h1>
    <h2 class="login"> <%= login %> </h2>
  </div>

  <div class="location"><span class="octicon octicon-location"></span><%= location %></div>

  <div class="mail"><span class="octicon octicon-mail"></span></span><%= email %></div>

  <div class="joined"><span class="octicon octicon-clock"></span>Joined on September 22. 2014</div>

<ul class="zero">
  <li class="a"><%= followers %></li>

  <li class="c"><%= following %></li>
</ul>
</script>

<!-- Organizations badges -->
<script type="text/template" id="org_img">
<img class="org" src= "<%= avatar_url %>" width=42px;/>
</script>


<!-- main repos section -->
<script type="text/template" id="repo">
<div class="bars">

<a href='https://github.com/chelseafranz/<%=name%>' >
<div class="projectName"><%= name %></div>
</a>
<div class="update"><%= updated_at %></div>


<span class="right"><%= language%>
  <span class="octicon octicon-star">
    <%=stargazers_count%>
    <span class="octicon octicon-git-branch">
      <%= forks%>
    </span>
</div>

</script>



<!-- star script -->
<script type="text/template" id="star">
<li> <%=stargazers_count%> </li>
</script>




<!--   javascript templates -->


  <!-- end of body section-->


    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
<script src="scripts/token.js"></script>
        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>

<footer>
    <div class="foot">
      <span class="bottom_left">
        <span>© 2014 GitHub, Inc.</span>
        <span class="l">Terms</span>
        <span class="l">Privacy</span>
        <span class="l">Secutity</span>
        <span class="l">Contact</span>
      </span>

      <span class="bottom_right">
        <span class="r">Status</span>
        <span class="r">API</span>
        <span class="r">Training</span>
        <span class="r">Shop</span>
        <span class="r">Blog</span>
        <span class="r">About</span>
      </span>
<span class="foot_icon">
  <span class="mega-octicon octicon-mark-github"></span>
</span>

    </div>
</footer>
</html>
